<!DOCTYPE html>
<html lang="en" ng-app="sketch">
<head>
	<meta charset="UTF-8">
	<title>几何画板</title>
	<script src="js/angular.js"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="sketchController">
	<span class="nametop" >几何画板</span>
	<div id="controls">
		<div  ng-repeat="(key, value) in tools" ng-class="{active:value==tool}" ng-click="setTool(value)">
			<span>{{key}}</span>	
		</div>
		<hr>
		<div ng-class="{active:csState.style=='fill'}" ng-click="setStyle('fill')"style="display: inline-block;">填充</div>
		<input type="color" ng-model="csState.fillStyle">  </br>

		<div ng-class="{active:csState.style=='stroke'}" ng-click="setStyle('stroke')"style="display: inline-block;">画线</div>
		<input type="color" ng-model="csState.strokeStyle">
		<div>
		线宽度
		<input ng-model="csState.lineWidth" type="range" min="1" max="30" step="1">
		</div>

		<hr>
		<div ng-click="newSketch()"style="display: inline-block;">新建</div>	
		<a ng-click="save($event)" style="display: inline-block;">保存</a>	
		<div style="display: inline-block;">回退</div>

		<hr>
		画板宽度 <input ng-model="wh[0]" type="range" min="400" max="800" step="1">	
		画板高度 <input ng-model="wh[1]" type="range" min="400" max="800" step="1">	
	</div>	
	<div id="drawregion">
		<div id="bg">
			<canvas id="canvas" width="{{wh[0]}}" height="{{wh[1]}}"></canvas>
		</div>
	</div>
</body>
</html>